body {
  max-width: 90%;
  margin: auto;
  background-color: rgb(226, 226, 226);
  font-family: "Open Sans", sans-serif;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex: 2;
  margin-right: 10px;
}

.right-side {
  flex: 1;
  margin-right: 20px;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.card .title {
  color: rgb(0, 132, 255);
  font-weight: bold;
}

nav {
  background-color: rgb(255, 162, 49);
}

nav ul {
  margin: 0;
  display: flex;
  list-style: none;
}

nav ul li {
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
}

nav ul li:hover {
  background-color: blue;
}

.content {
  margin-top: 20px;
}

.card-content{
        margin-bottom: 10px;
}

.title-card-content {
  text-align: right;
  background-color: white;
  padding: 10px;
  margin: 0;
}

.card-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.card-content .card-text {
  background-color: white;
  padding: 20px;
  margin-top: -10px;
}

.card-content .card-text .card-title {
  font-size: 32px;
}

.card-content .card-text .selengkapnya {
  font-weight: bold;
}
